{% extends 'base.html.twig' %}

{% block title %}Edit BookCat{% endblock %}

{% block body %}
    <h1>Edit BookCat</h1>

    {{ include('book_cat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('book_cat_index') }}">back to list</a>

    {{ include('book_cat/_delete_form.html.twig') }}
{% endblock %}
