{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    <h1></h1>
    <p>
        Welcome to my website !
    </p>



    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Book Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>



            <tr>
                <td colspan="3">no records found</td>
            </tr>

        </tbody>
    </table>




{% endblock %}
